@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Public Sans", "sans-serif";
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    font-family: "DM Serif Display", serif;
  }

  .max-container {
    @apply max-w-[1110px] w-[90%] mx-auto;
  }
}

@layer components {
  /* Buttons */
  .btn {
    @apply font-bold block text-base inline-block tracking-[-0.12px] text-center
        pt-4 pb-[14px] rounded-3xl transition-colors duration-150;
  }

  .btn-primary {
    @apply bg-dark_pink text-water_white hover:bg-charm_pink focus:bg-charm_pink;
  }

  .btn-secondary {
    @apply text-water_white border px-8 border-water_white hover:border-0 focus:border-0 bg-transparent hover:bg-water_white focus:bg-water_white  hover:text-mirage_blue focus:text-mirage_blue;
  }

  .input {
    @apply block bg-transparent placeholder:text-san_juan_blue placeholder:text-opacity-50
      placeholder:text-base placeholder:tracking-[0.12] border-b border-b-san_juan_blue 
      border-opacity-50 pb-4 w-full outline-none indent-5 text-base 
      text-san_juan_blue tracking-[-0.12px] focus:border-opacity-100;
  }

  /* Grids */
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Feature */
  .feature-text {
    @apply text-base text-light_san_juan_blue mt-6;
  }

  .feature-header {
    @apply text-san_juan_blue text-4xl md:text-5xl leading-9 md:leading-[56px] tracking-[-0.28px] md:tracking-[-0.37px];
  }
}
