@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Public Sans", "sans-serif";
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    font-family: "DM Serif Display", serif;
  }

  .max-container {
    @apply max-w-[1110px] w-[90%] mx-auto;
  }

  /* Buttons */
  .btn {
    @apply font-bold block text-base tracking-[-0.12px]  w-full text-center
        m-3  pt-4 pb-[14px] rounded-3xl transition-colors duration-150;
  }

  .btn-primary {
    @apply bg-dark_pink text-water_white hover:bg-charm_pink;
  }

  .btn-secondary {
    @apply text-water_white border border-water_white hover:border-0 bg-transparent hover:bg-water_white hover:text-mirage_blue;
  }
}
